/* Шрифты */

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  margin: 0;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 22px;
  font-style: normal;
  line-height: 26px;
  color: #333333;
  background-color: #f2f2f2;
  width: 100%;
  min-width: 1280px;
  min-height: 100%;
  display: flex;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  min-width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.navigation-list,
.navigation-user,
.advantages-list,
.services-list,
.footer-social-list,
.breadcrumbs,
.catalog-filter-list,
.sort-list,
.card-list,
.pagination,
.modal-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Header */

.navigation-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  text-align: center;
  text-decoration: none;
  text-transform: capitalize;
  display: flex;
  padding: 19px 0;
}

.navigation-link-current {
  border-bottom: 2px solid #756257;
}

.navigation {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 0 70px;
}

.navigation-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-left: 184px;
  padding: 0;
  max-width: 339px;
}

.favorites-icon {
  fill: #000000;
  position: relative;
}

.search-icon {
  fill: #000000;
  position: relative;
}

.navigation-item {
  display: flex;
  margin: 0 32px 0 0;
}

.navigation-item:last-child {
  margin: 0;
}

.navigation-user {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 0;
  margin-left: auto;
  max-width: 270px;
}

.navigation-user-item {
  display: flex;
  align-items: center;
}

.navigation-user-link {
  display: flex;
  align-items: center;
  padding: 0 12px;
  text-decoration: none;
  position: relative;
  min-height: 64px;
}

.navigation-user-link-favorite {
  position: relative;
}

.navigation-user-link-favorite::before {
  content: "12";
  position: absolute;
  top: 12px;
  right: 4px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #7db54f;
  font-size: 10px;
  line-height: 10px;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.user-button {
  align-items: center;
  margin: 0 0 0 20px;
}

.navigation-logo {
  position: absolute;
}

/* Кнопки */

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "PT Sans", "Arial", sans-serif;
  color: #ffffff;
  border-radius: 4px;
  border: 0;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
}

/* Хочу сюда! */

.navigation-user-button {
  padding: 8px 34px;
  background-color: #756157;
  max-width: 160px;
}

/* Поиск гостиницы */

.search-link {
  font-size: 20px;
  line-height: 36px;
  padding: 8px 50px;
  background-color: #756157;
  margin: 0 auto;
  margin-bottom: 96px;
  max-width: 376px;
}

/* Кнопка подписки */

.subscribe-button {
  font-size: 20px;
  line-height: 36px;
  padding: 8px 50px;
  background-color: #82b3d3;
  border-radius: 0 4px 4px 0;
  max-width: 232px;
}

/* Кнопки фильтра */

.catalog-filter-submit {
  padding: 8px 50px;
  background-color: #82b3d3;
  margin-top: 56px;
  margin-bottom: 32px;
  max-width: 191px;
}

.catalog-filter-reset {
  background-color: transparent;
  padding: 8px 50px;
  max-width: 191px;
}

/* Кнопки на карточке */

.object-detail {
  background-color: #756157;
  min-height: 36px;
  max-width: 140px;
  width: 140px;
}

.object-button {
  background-color: #82b3d3;
  min-height: 36px;
  max-width: 140px;
  width: 140px;
}

.green {
  background-color: #7db54f;
}

/* Main Главная */

.main-container {
  flex-grow: 1;
}

.hero {
  background-image: url("../images/background/index-background.jpg");
  background-color: #7fc7ff;
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.hero-text {
  display: block;
  margin: 0 auto 26px;
  padding-top: 51px;
  height: 402px;
  width: 458px;
}

.hero-divider {
  display: block;
  width: 100%;
  margin: 0;
}

/* Преимущества */

.advantages-heading,
.services-heading,
.search-title,
.modal-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
}

.advantages-description,
.services-description,
.search-text {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  margin: 0;
}

.advantages-title,
.services-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
}

.advantages-text,
.services-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  margin: 0;
}

.advantages-item-blue {
  display: flex;
  background-color: #82b3d3;
}

.light-blue {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-list {
  display: grid;
  grid-template-columns: auto auto auto;
}

.advantages-city {
  grid-column: 1 / -1;
  grid-row: 1 / 2;
}

.advantages-place {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.advantages-road {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.advantages-tourists {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
}

.advantages-bridge {
  grid-column: 1 / -1;
  grid-row: 3 / 4;
}

.small-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 385px;
  width: 400px;
  padding: 20px 0;
  position: relative;
}

.small-container::before {
  content: '';
  width: 60px;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 199px;
  right: 169px;
}

.white-container::before {
  content: '';
  width: 60px;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.3);
  position: absolute;
  top: 188px;
  right: 169px;
  color: #ffffff;
}

.advantages-heading {
  margin: 70px auto 0;
  max-width: 620px;
}

.advantages-description {
  margin: 26px auto 88px;
  max-width: 651px;
}

.advantages-title {
  margin: 0 0 31px 0;
  max-width: 175px;
}

.advantages-text {
  margin: 30px 0 0 0;
  max-width: 230px;
}

.advantages-img {
  height: 100%;
  object-fit: cover;
}

/* Иконки услуг */

.services-list {
  display: flex;
  flex-wrap: wrap;
}

.white-title {
  color: #ffffff;
}

.white-text {
  color: #ffffff;
}

.services-heading {
  margin: 64px auto 0;
  max-width: 505px;
}

.services-description {
  margin: 20px auto 65px;
  max-width: 490px;
}

.services-title {
  margin: 30px 0;
  max-width: 230px;
}

.services-text {
  max-width: 230px;
  margin: 0;
  margin-bottom: 81px;
}

.services-item {
  display: flex;
  align-items: center;
  justify-content: end;
  flex-direction: column;
  min-height: 385px;
  width: 400px;
}

.services-item-house,
.services-item-eat,
.services-item-souvenirs {
  position: relative;
}

.services-item-house {
  background-image: url("../images/services-icons/icon-housing.svg");
  background-repeat: no-repeat;
  background-position: 163px 80px;
}

.services-item-eat {
  background-image: url("../images/services-icons/icon-eating.svg");
  background-repeat: no-repeat;
  background-position: 162px 82px;
}

.services-item-souvenirs {
  background-image: url("../images/services-icons/icon-souvenir.svg");
  background-repeat: no-repeat;
  background-position: 169px 78px;
}

/* Поиск гостиницы */

.search {
  display: flex;
  flex-direction: column;
}

.search-title {
  margin: 95px auto 0;
  max-width: 592px;
}

.search-text {
  margin: 20px auto 54px;
  max-width: 592px;
}

/* Подписка */

.subscribe {
  background-image: url("../images/background/background-subscribe.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  padding: 96px 0 104px;
  background-color: #7fc7ff;
}

.subscribe-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  margin: 0 auto;
  max-width: 475px;
}

.subscribe-description {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #ffffff;
  margin: 20px auto 55px;
  max-width: 475px;
}

.subscribe-form {
  display: flex;
  margin: 0 auto;
  max-width: 700px;
}

.subscribe-input {
  flex-grow: 1;
  min-width: 452px;
  border-radius: 4px 0 0 4px;
  border: 0;
  font-family: inherit;
  background-color: #f2f2f2;
  padding-left: 20px;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
}

/* Footer */

.footer-contacts-phone {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  max-width: 350px;
}

.page-footer {
  display: flex;
  justify-content: space-between;
  padding: 40px 70px 30px;
  align-items: center;
}

.footer-contacts {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  margin-left: 2px;
}

.footer-social-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  min-height: 40px;
  width: 140px;
  margin: 5px 0;
}

.footer-social-link {
  padding: 0 10px;
}

.academy-img {
  display: flex;
  justify-content: center;
  align-items: center;
  fill: #000000;
}

.social-icon {
  fill: #83b3d3;
  margin: 0;
  margin-top: 6px;
}

/* Страница каталога */

.catalog-header {
  display: flex;
  flex-direction: column;
  gap: 40px;
  background-image: url("../images/background/background-filter.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #68a2ca;
  margin: 0;
  margin-bottom: 14px;
  padding: 35px 70px 57px 70px;
}

.catalog-filter-group,
.modal-group {
  border: 0;
  padding: 0;
  margin: 0;
}

.inner-header-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  color: #ffffff;
  margin: 0;
  margin-bottom: 8px;
  max-width: 800px;
  min-width: 450px;
}

.breadcrumbs {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  gap: 28px;
  min-width: 100px;
  max-width: 800px;
}

.breadcrumbs-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
  position: relative;
  display: block;
  text-decoration: none;
}

.breadcrumbs-link::after {
  content: url('data:image/svg+xml; utf8, <svg width="8" height="11" viewBox="0 0 8 11" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M6.91526 4.96875L2.16526 0.71875C1.91526 0.46875 1.41526 0.46875 1.04026 0.71875C0.665263 0.96875 0.790263 1.46875 1.04026 1.71875L5.16526 5.46875L1.16526 9.21875C0.915263 9.46875 0.915263 9.96875 1.16526 10.2188C1.16526 10.3438 1.54026 10.4688 1.66526 10.4688C1.79026 10.4688 2.04026 10.3438 2.16526 10.2188L6.91526 5.96875C7.29026 5.71875 7.29026 5.21875 6.91526 4.96875Z" fill="white"/></svg>  ');
  position: absolute;
  display: inline-block;
  right: -18px;
}

.breadcrumbs-item:last-child .breadcrumbs-link::after {
  content: none;
}

.breadcrumbs-main {
  fill: #ffffff;
}

.catalog-filter {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.type-housing {
  margin-left: 70px;
}

.control-input {
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border-radius: 4px;
  font-family: inherit;
}

.control-input-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #ffffff;
  margin: 0;
}

.control {
  position: relative;
  display: block;
  padding-left: 36px;
  cursor: pointer;
}

.control-mark {
  position: absolute;
  top: 2px;
  left: 0;
  width: 20px;
  height: 20px;
  border: none;
  background-color: #ffffff;
  border-radius: 4px;
}

.control-input[type="checkbox"]:checked + .control-mark::before,
.control-input[type="checkbox"]:checked + .control-mark::after {
  position: absolute;
  background-image: url("../images/decor-icons/checked.svg");
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  background-position: 4px 6px;
  content: "";
}

.control-mark-radio {
  position: absolute;
  top: 2px;
  left: 0;
  width: 20px;
  height: 20px;
  border: none;
  background-color: #ffffff;
  border-radius: 50%;
}

.control-input[type="radio"]:checked + .control-mark-radio::before,
.control-input[type="radio"]:checked + .control-mark-radio::after {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 10px;
  height: 10px;
  background-color: #3f5e72;
  border-radius: 50%;
  content: "";
}

.range {
  margin-left: auto;
  padding: 0;
  min-width: 288px;
  max-width: 300px;
}

.range-wrapper-inputs {
  display: flex;
  gap: 2px;
  align-items: center;
}

.catalog-filter-label {
  position: relative;
}

.text-from {
  position: absolute;
  padding: 0;
  top: 14px;
  right: 20px;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  opacity: 0.3;
}

.text-to {
  position: absolute;
  padding: 0;
  top: 14px;
  right: 20px;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  opacity: 0.3;
}

.range-input-from {
  background-color: #f2f2f2;
  border-radius: 4px 0 0 4px;
  width: 143px;
  min-height: 48px;
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  padding-left: 20px;
  border: none;
  -webkit-appearance: none;
  appearance: none;
}

.range-input-to {
  background-color: #f2f2f2;
  border-radius: 0 4px 4px 0;
  width: 143px;
  min-height: 48px;
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  padding-left: 20px;
  border: none;
  -webkit-appearance: none;
  appearance: none;
}

.filter-buttons {
  display: flex;
  flex-direction: column;
  margin-left: 70px;
}

.range-scale {
  display: flex;
  align-items: center;
  position: relative;
  height: 4px;
  margin-top: 44px;
  background-color: rgba(255, 255, 255, 0.3);
  width: 287px;
}

.range-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  height: 4px;
  background-color: #ffffff;

}

.toggle-min {
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.toggle-max {
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.results-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 36px 69px 40px 70px;
}

.catalog-filter-title,
.price {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
  color: #ffffff;
  margin: 0;
  padding: 0;
  margin-bottom: 32px;
  max-width: 152px;
}

.catalog-filter-item {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #ffffff;
  margin-bottom: 16px;
}

.results-search {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
  max-width: 400px;
}

.select-control {
  font-family: inherit;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  min-width: 292px;
  max-width: 320px;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  padding-left: 18px;
  padding-right: 40px;
  -webkit-appearance: none;
  appearance: none;
  background-image: url("../images/decor-icons/arrow2.svg");
  background-repeat: no-repeat;
  background-position: top 18px right 18px;
}

.sort-list {
  display: flex;
  justify-content: space-between;
  gap: 8px;
}

.sort-link {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 48px;
  width: 48px;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
}

.sort-container {
  display: flex;
  justify-content: space-between;
  gap: 71px;
  position: relative;
}

.sort-link-active {
  border: 2px solid #000000;
}

.card-list {
  display: grid;
  grid-template-columns: repeat(3, 340px);
  gap: 18px 20px;
  margin: 0 69px 39px;
  position: relative;
}

/* Карточки отелей */

.object-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 342px;
  padding: 20px;
  border: 1px solid #e6e6e6;
  border-radius: 4px;
}

.price-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  margin-bottom: 15px;
}

.detail-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  margin-bottom: 16px;
}

.stars-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.object-card-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  max-width: 300px;
  margin: 0;
  margin-top: 12px;
}

.object-card-link {
  text-decoration: none;
  margin: 0;
  margin-bottom: 16px;
}

.object-type {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  margin: 0;
  max-width: 140px;
}

.object-price {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  margin: 0;
  max-width: 140px;
}

.object-rating {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  background-color: #f2f2f2;
  border-radius: 4px;
  width: 140px;
  min-height: 37px;
  padding-top: 3px;
  max-width: 140px;
}

.stars {
  align-self: center;
}

/* Пагинация */

.pagination {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  gap: 8px;
  padding: 40px 70px 59px;
  max-width: 1060px;
  min-width: 130px;
  position: relative;
}

.pagination::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 1060px;
  height: 0;
  border: 1px solid #e6e6e6;
  transform: rotate(180deg);
  margin: 0 70px;
}

.pagination-link {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  background-color: #82b3d3;
  border-radius: 4px;
  text-align: center;
  max-width: 100px;
  min-width: 60px;
  min-height: 60px;
}

.pagination-empty {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  line-height: 36px;
  max-width: 100px;
  min-height: 60px;
  min-width: 60px;
}

.pagination-current {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
  background-color: #f2f2f2;
  border-radius: 4px;
  text-align: center;
  max-width: 100px;
  min-width: 60px;
  min-height: 60px;
}

/* Подписка в каталоге */

.catalog-subscribe {
  display: flex;
  flex-direction: column;
  padding: 97px 0 103px;
  background-color: #ffffff;
}

.catalog-subscribe-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  margin: 0 auto;
  max-width: 475px;
}

.catalog-subscribe-description {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  margin: 20px auto 55px;
  max-width: 475px;
}

/* Модальное окно */

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(242, 242, 242, 0.8);
}

.modal-container.is-active {
  display: flex;
}

.modal {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  position: relative;
  padding: 64px 70px;
  background-color: #ffffff;
  border-radius: 30px;
  width: 717px;
}

.modal-title {
  text-align: left;
  max-width: 430px;
}

.modal-content {
  display: flex;
  justify-content: start;
  align-items: center;
}

.modal-close-button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  padding: 0;
  top: 64px;
  right: 52px;
  width: 52px;
  height: 52px;
  border-radius: 50%;
  background-color: #f2f2f2;
  border: none;
  cursor: pointer;
}

.cross-button {
  display: flex;
  justify-content: center;
  align-items: center;
  fill: #000000;
}

.input-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  max-width: 120px;
}

.modal-input {
  background-color: #f2f2f2;
  border-radius: 4px;
  min-width: 440px;
  min-height: 48px;
  border: none;
  color: #000000;
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  padding-left: 20px;
}

.modal-input-people {
  background-color: #f2f2f2;
  border: none;
  width: 31px;
  min-height: 48px;
  margin: 0;
  color: #000000;
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
}

.modal-input-people::-webkit-outer-spin-button,
.modal-input-people::-webkit-inner-spin-button,
.range-input-from::-webkit-outer-spin-button,
.range-input-from::-webkit-inner-spin-button,
.range-input-to::-webkit-outer-spin-button,
.range-input-to::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.modal-input-people,
.range-input-from,
.range-input-to {
  -moz-appearance: textfield;
}

.people-minus {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f2f2f2;
  border: none;
  width: 40px;
  min-height: 48px;
  border-radius: 4px 0 0 4px;
  margin: 0;
  cursor: pointer;
}

.people-plus {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f2f2f2;
  border: none;
  width: 40px;
  min-height: 48px;
  border-radius: 0 4px 4px 0;
  margin: 0;
  cursor: pointer;
}

.plus-icon,
.minus-icon {
  fill: rgba(117, 97, 87, 0.3);
}

.child {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 242px;
  position: relative;
}

.modal-search-button {
  font-size: 20px;
  line-height: 24px;
  width: 577px;
  min-height: 60px;
  background-color: #82b3d3;
  border-radius: 10px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
}

.modal-list {
  margin: 62px auto 47px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 577px;
}

.arrival {
  margin: 0;
  margin-top: 2px;
}

.departure {
  margin: 0;
  margin-top: 23px;
}

.error-text {
  display: flex;
  align-items: center;
  margin: 4px 0 0 157px;
  padding: 0;
  color: #ff5757;
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
}

.free-rooms-text {
  display: flex;
  align-items: center;
  margin: 4px 0 0 157px;
  padding: 0;
  color: #333333;
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
}

.people {
  display: flex;
  justify-content: space-between;
  width: 577px;
  margin: 0;
  margin-top: 23px;
  align-items: center;
}

.adults {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 247px;
}

.counter-container {
  display: flex;
  align-items: center;
}

.input-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 577px;
  position: relative;
}

.input-container::before {
  content: '';
  background-image: url("../images/decor-icons/date.svg");
  position: absolute;
  right: 22px;
  top: 50%;
  transform: translateY(-50%);
  width: 21px;
  height: 22px;
  opacity: 0.3;
}

.arrival-title {
  margin: 0;
  margin-right: 24px;
}

.departure-title {
  margin: 0;
  margin-right: 18px;
}

.button-info {
  width: 26px;
  height: 26px;
  border: none;
  background-color: #83b3d3;
  border-radius: 50%;
  background-image: url("../images/decor-icons/info.svg");
  background-position: 50% 50%;
  position: absolute;
  left: 59px;
  cursor: pointer;
}

.tooltip {
  display: none;
  width: 256px;
  min-height: 143px;
  position: absolute;
  z-index: 1;
  top: 51px;
  left: -56px;
  background-color: #333333;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  padding: 22px 18px 18px 22px;
}

.tooltip::before {
  content: '';
  background-image: url("../images/decor-icons/arrow.svg");
  width: 19px;
  height: 9px;
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.tooltip-text {
  margin: 0;
  color: #ffffff;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

.modal-item {
  min-height: 48px;
}

.tooltip-open {
  display: block;
}

/* Состояния элементов */

.subscribe-input:focus:not(:placeholder-shown),
.modal-input:focus:not(:placeholder-shown),
.range-input-from:focus:not(:placeholder-shown),
.range-input-to:focus:not(:placeholder-shown) {
  background-color: #f2f2f2;
  outline: 2px solid #000000;
}

.navigation-user-button:hover,
.search-link:hover,
.object-detail:hover,
.navigation-user-button:focus,
.search-link:focus,
.object-detail:focus {
  background-color: #615048;
  cursor: pointer;
}

.navigation-user-button:active,
.search-link:active,
.object-detail:active {
  background-color: #756157;
  color: rgba(255, 255, 255, 0.3);
}

.subscribe-button:hover,
.catalog-filter-submit:hover,
.object-button:hover,
.subscribe-button:focus,
.catalog-filter-submit:focus,
.object-button:focus {
  background-color: #68a2ca;
}

.subscribe-button:active,
.catalog-filter-submit:active,
.object-button:active {
  background-color: #82b3d3;
  color: rgba(255, 255, 255, 0.3);
}

.catalog-filter-submit:disabled {
  opacity: 0.3;
  pointer-events: none;
}

.subscribe-button:disabled,
.button:disabled {
  background-color: #e5e5e5;
  color: #ffffff;
  pointer-events: none;
}

.modal-close-button:disabled {
  background-color: #e5e5e5;
  color: #ffffff;
  pointer-events: none;
  opacity: 0.4;
}

.green:hover,
.green:focus {
  background-color: #6c9e42;
}

.green:active {
  background-color: #7db54f;
  color: rgba(255, 255, 255, 0.3);
}

.catalog-filter-reset:hover {
  color: rgba(255, 255, 255, 0.6);
}

.catalog-filter-reset:focus {
  outline: 3px solid #83b3d3;
}

.catalog-filter-reset:active {
  color: rgba(255, 255, 255, 0.3);
}

.catalog-filter-reset:disabled {
  color: #ffffff;
  opacity: 0.1;
}

.select-control:hover,
.select-control:focus {
  outline: none;
  border: 2px solid #68a2ca;
}

.select-control:active {
  border: 2px solid #3f5e72;
}

.sort-link:hover,
.sort-link:active {
  border: 2px solid #000000;
}

.sort-link:focus {
  border: 0;
  outline: 2px solid #68a2ca;
}

.pagination-link:hover {
  background-color: #68a2ca;
}

.pagination-link:focus {
  background-color: #68a2ca;
}

.pagination-link:active {
  background-color: #82b3d3;
  color: rgba(255, 255, 255, 0.3);
}

.pagination-current:hover,
.pagination-current:focus,
.pagination-current:active {
  color: #000000;
  background-color: #f2f2f2;
}

.social-icon:hover {
  fill: #68a2ca;
}

.footer-social-link:focus .social-icon {
  fill: #68a2ca;
}

.footer-social-link:active .social-icon {
  fill: rgba(104, 162, 202, 0.3);
}

.footer-contacts-phone:hover,
.footer-contacts-phone:focus {
  color: #756157;
}

.footer-contacts-phone:active {
  color: rgba(117, 97, 87, 0.3);
}

.academy-img:hover {
  fill: #756157;
}

.academy-link-logo:focus .academy-img {
  fill: #756157;
}

.academy-link-logo:active .academy-img {
  fill: rgba(117, 97, 87, 0.3);
}

.breadcrumbs-link:hover {
  color: rgba(255, 255, 255, 0.6);
}

.breadcrumbs-main:hover {
  fill: rgba(255, 255, 255, 0.6);
}

.breadcrumbs-link:active {
  color: rgba(255, 255, 255, 0.3);
}

.breadcrumbs-link:active .breadcrumbs-main {
  fill: rgba(255, 255, 255, 0.3);
}

.modal-search-button:hover {
  background-color: #68a2ca;
}

.modal-search-button:focus {
  background-color: #68a2ca;
}

.modal-search-button:active {
  background-color: #68a2ca;
  color: #ffffff;
  opacity: 0.3;
}

.modal-search-button:disabled {
  background-color: #e5e5e5;
  color: #ffffff;
  pointer-events: none;
}

.people-minus:disabled,
.people-plus:disabled {
  background-color: #e5e5e5;
  color: #ffffff;
  pointer-events: none;
  opacity: 0.4;
}

.modal-close-button:hover {
  background-color: #e6e6e6;
}

.modal-close-button:focus {
  background-color: #e6e6e6;
  border: none;
  outline: 3px solid #83b3d3;
}

.modal-close-button:active .cross-button {
  fill: #000000;
  opacity: 0.6;
}

.modal-close-button:active {
  border: none;
  outline: none;
}

.people-minus:hover .minus-icon,
.people-plus:hover .plus-icon {
  fill: #000000;
}

.people-minus:focus .minus-icon,
.people-plus:focus .plus-icon {
  fill: #000000;
  outline: 3px solid #82B3D3;
  border-radius: 4px;
}

.people-minus:focus,
.people-plus:focus {
  border: none;
  outline: none;
}

.navigation-link:hover {
  opacity: 0.5;
  transition: 0.3s;
}

.navigation-link:active {
  opacity: 1;
}

.navigation-link-current:focus {
  border-bottom: 2px solid #756257;
}

.navigation-user-link:hover .search-icon,
.navigation-user-link:hover .favorites-icon {
  opacity: 0.5;
  transition: 0.3s;
}

.navigation-user-link:active .search-icon,
.navigation-user-link:active .favorites-icon {
  opacity: 1;
}

.control:hover {
  opacity: 0.6;
}

.control:active {
  opacity: 0.3;
}

.control-input[type="checkbox"]:focus + .control-mark {
  outline: 3px solid #83b3d3;
}

.control-input[type="radio"]:focus + .control-mark-radio {
  outline: 3px solid #83b3d3;
}

.subscribe-input:hover,
.subscribe-input:focus {
  outline: 2px solid #68a2ca;
  border: none;
}

.subscribe-input:disabled {
  opacity: 0.3;
  pointer-events: none;
}

.modal-input:hover {
  background-color: #e6e6e6;
}

.modal-input:focus {
  outline: 3px solid #83b3d3;
  background-color: #e6e6e6;
}

.modal-input:disabled {
  opacity: 0.3;
  pointer-events: none;
}

.range-input-from:hover {
  background-color: #e6e6e6;
}

.range-input-to:hover {
  background-color: #e6e6e6;
}

.range-input-from:focus,
.range-input-to:focus {
  outline: 3px solid #83b3d3;
  background-color: #e6e6e6;
}

.range-input-to:disabled,
.range-input-from:disabled {
  opacity: 0.3;
  pointer-events: none;
}

.range-toggle:hover {
  background-color: #ffffff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

.range-toggle:focus {
  border: none;
  outline: 3px solid #83b3d3;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

.range-toggle:active {
  border: none;
  outline: 2px solid #83b3d3;
  box-shadow: 0 7px 15px rgba(0, 0, 0, 0.4);
}

.modal-input-people:hover {
  background-color: #e6e6e6;
}

.modal-input-people:disabled {
  opacity: 0.3;
  pointer-events: none;
}

.button-info:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

.button-info:focus {
  background-color: #68a2ca;
}

.button-info:active {
  background-color: #68a2ca;
  box-shadow: none;
}

.button-info:disabled {
  opacity: 0.3;
  pointer-events: none;
}
