/* Шрифты */
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  margin: 0 auto;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 22px;
  font-style: normal;
  line-height: 26px;
  color: #333333;
  background-color: #f2f2f2;
  width: 100%;
  max-width: 1280px;
  padding: 0 40px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0;
  background-color: #ffffff;
}

.navigation-list,
.navigation-user,
.advantages-list,
.services-list,
.footer-social-list,
.breadcrumbs,
.catalog-filter-list,
.sort-list,
.card-list,
.pagination {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Header */

.navigation-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  text-align: center;
  text-decoration: none;
  text-transform: capitalize;
  padding: 20px 16px;
}

.navigation-link-current {
  border-bottom: 2px solid #756257;
}

.navigation {
  display: flex;
  justify-content: start;
  width: 1200px;
  margin: 0 auto;
  padding: 0 70px;
}

.navigation-list {
  display: flex;
  align-items: center;
  width: 507px;
  margin-left: 30px;
  padding: 0;
}

.navigation-user {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 268px;
  padding: 0;
  margin-left: auto;
  gap: 20px;
}

.navigation-logo {
  z-index: 1;
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
}

/* Кнопки */

.button {
  font-family: "PT Sans", "Arial", sans-serif;
  color: #ffffff;
  border-radius: 4px;
  border: 0;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}

/* Хочу сюда! */

.navigation-user-button {
  padding: 8px 34px;
  background-color: #756157;
}

/* Поиск гостиницы */

.search-link {
  font-size: 20px;
  line-height: 36px;
  padding: 8px 50px;
  background-color: #756157;
}

/* Кнопка подписки */

.subscribe-button {
  font-size: 20px;
  line-height: 36px;
  padding: 8px 50px;
  background-color: #82b3d3;
}

/* Кнопки фильтра */

.catalog-filter-submit {
  padding: 8px 50px;
  background-color: #82b3d3;
}

.catalog-filter-reset {
  background-color: transparent;
  padding: 8px 50px;
}

/* Кнопки на карточке */

.object-detail {
  background-color: #756157;
  padding: 8px 26px;
}

.object-button {
  background-color: #82b3d3;
  padding: 8px 20px;
}

.green {
  background: #7db54f;
}

/* Main Главная */

.main-container {
  flex-grow: 1;
}

.hero {
  background-image: url("../images/background/index-background.jpg");
  background-color: #7fc7ff;
  background-repeat: no-repeat;
  background-size: 1200px;
}

.hero-text {
  display: block;
  margin: 0 auto;
  padding-top: 51px;
  height: 352px;
  width: 458px;
}

.hero-divider {
  display: block;
  width: 1200px;
  margin: 0;
}

.advantages-heading,
.services-heading,
.search-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.advantages-description,
.services-description,
.search-text {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.advantages-title,
.services-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.advantages-text,
.services-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
}

.advantages-item-blue {
  display: flex;
  background-color: #82b3d3;
}

.light-blue {
  background: rgba(131, 179, 211, 0.2);
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  width: 1200px;
}

.small-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 385px;
  width: 400px;
}

.rectangle {
  width: 60px;
  height: 2px;
  background: rgba(0, 0, 0, 0.3);
}

.white-rectangle {
  width: 60px;
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
}

/* Иконки услуг */

.services-list {
  display: flex;
}

.services-item-house {
  background-image: url("../images/services-icons/icon-housing.svg");
  background-repeat: no-repeat;
}

.services-item-eat {
  background-image: url("../images/services-icons/icon-eating.svg");
  background-repeat: no-repeat;
}

.services-item-souvenirs {
  background-image: url("../images/services-icons/icon-souvenir.svg");
  background-repeat: no-repeat;
}

.white-title {
  color: #ffffff;
}

.white-text {
  color: #ffffff;
}

/* Поиск гостиницы */

.search {
  display: flex;
  flex-direction: column;
  margin: 96px 304px;
}


/* Подписка */

.subscribe {
  background-image: url("../images/background/background-subscribe.jpg");
  background-repeat: no-repeat;
  background-size: 1200px;
  display: flex;
  flex-direction: column;
  padding: 96px 258px 104px;
}

.subscribe-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

.subscribe-description {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #ffffff;
}

/* Footer */

.footer-contacts-phone {
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.page-footer {
  display: flex;
  justify-content: space-between;
  padding: 40px 70px 30px;
}

.footer-social-list {
  display: flex;
  justify-content: space-between;
  height: 40px;
  width: 142px;
  margin: 5px 0;
}

.footer-social-link {
  padding: 0 10px;
}

/* Страница каталога */

.catalog-header {
  display: flex;
  flex-direction: column;
  gap: 40px;
  background-image: url("../images/background/background-filter.jpg");
  background-repeat: no-repeat;
  background-size: 1200px;
  padding: 35px 70px 70px 70px;
}

.catalog-filter-group {
  border: 0;
  padding: 0;
}

.inner-header-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  color: #ffffff;
  margin: 0;
}

.breadcrumbs {
  display: flex;
  justify-content: start;
  gap: 10px;
}

.breadcrumbs-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
}

.catalog-filter {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 167px;
}

.filter-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 70px;
}

.range-container {
  display: flex;
  justify-content: space-between;
  gap: 70px;
}

.filter-buttons {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.results-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 50px 70px 40px;
}

.catalog-filter-title,
.price {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
  color: #ffffff;
}

.catalog-filter-item {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #ffffff;
}

.results-search {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
}

.select-control {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

.sort-list {
  display: flex;
  justify-content: space-between;
  gap: 8px;
}

.sort-link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 48px;
  width: 48px;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
}

.sort-container {
  display: flex;
  justify-content: space-between;
  gap: 70px;
}

.sort-link-active {
  border: 2px solid #000000;
}

.card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin: 0 70px;
}

/* Карточки отелей */

.object-card {
  width: 340px;
  height: 438px;
  padding: 20px;
  border: 1px solid #e6e6e6;
  border-radius: 4px;
}

.object-card-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  margin: 16px 0 0;
}

.object-card-link {
  text-decoration: none;
}

.object-type {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

.object-price {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

.object-rating {
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  background: #f2f2f2;
  border-radius: 4px;
  padding: 9px 22px 8px 23px;
}

.price-container {
  display: flex;
  justify-content: space-between;
}

.detail-container {
  display: flex;
  justify-content: space-between;
}

.stars-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 16px 0 0;
}

.strip {
  width: 1060px;
  height: 0;
  border: 1px solid #e6e6e6;
  transform: rotate(180deg);
  margin: 40px 70px 0;
}

/* Пагинация */

.pagination {
  display: flex;
  justify-content: start;
  gap: 8px;
  margin: 40px 70px 60px;
}

.pagination-link {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  background-color: #82b3d3;
  border-radius: 4px;
  text-align: center;
  height: 60px;
  width: 60px;
}

.pagination-empty {
  display: flex;
  justify-content: center;
  align-items: end;
  font-size: 20px;
  line-height: 36px;
  height: 60px;
  width: 60px;
}

.pagination-current {
  color: #000000;
  background-color: #f2f2f2;
}

/* Подписка в каталоге */

.catalog-subscribe {
  display: flex;
  flex-direction: column;
  margin: 96px 258px 104px;
}

.catalog-subscribe-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  color: #000000;
}

.catalog-subscribe-description {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}
